@import 'reset';
@import 'animations';
@import 'values';
@import 'utility';
//@import 'background';

html{
    height: 100%;    
    font-size: $font-size-normal;
    background: $color-1;
}

body {
    color: $white;
    min-width:320px; /* suppose you want minimun width of 320px */
    width: auto ;  /* Firefox will set width as auto */
    height: 100%;
    width: 100%;   
    min-width: 320px;
    font-family: $primary-font;
    overflow-x: hidden;
    // background: linear-gradient($color-2, $color-1, $color-3);
    background: $color-1;
}

.content {
    margin: auto;
    width: 50%;
    padding: 10px;
    border: 1px white;
}

.browse-grid {
    width: 100%;
    box-shadow: rgba(black, 0.15) 0px 10px 28px 0px;
    
}

.film-grid-item {
    width:100%;
    display: flow-root;
    background: rgba(black, 0.02);
    border-bottom: 2px solid rgba(black, 0.1);
    
    // margin-bottom: 1px;

    img{
        float:left;
    }

    img:after{
        clear: both;
    }

    h4{
       font-weight: bold;
       margin-left: 5px;       
       font-size: 1.5em;
    }

    p {

        margin-left: 5px;        
        font-size: 1.2em;
      
    }
}

footer {
    font-size: $font-size-small;
    text-align: center;
    grid-column: 1 / -1;
    color: $transparent-white-text;
    margin-top: -15px;
    padding-top: 25px;
    background: $color-4;

    a, a:visited {
        color: $transparent-white-text;
        text-decoration: none;
    }

    a:hover {
        color: $white;
        text-decoration: none;
    }

    a:visited {
        color: rgba($white, 0.6);
        text-decoration: none;
    }
    
}
