{
    "presets": ["react", "babel-preset-env", "babel-preset-stage-2"],
    "sourceMaps": true,
    "retainLines": true,
    "env": {
      "test": {
        "plugins": ["transform-es2015-modules-commonjs"]
      }
    }
  }